body {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 21px;
	text-transform: uppercase;
}


/*Главная седоны*/
.main-menu a {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 26px;
	text-transform: uppercase;
}

.sedona {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 21px;
	color: #000;
	line-height: 26px;
	text-transform: uppercase;
}

.five {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 26px;
	text-transform: uppercase;
}

.about-sedona,
.search, 
.find {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 21px;
	color: #fff;
	line-height: 21px;
	text-transform: uppercase;	
}

.about-sedona-2 {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	line-height: 21px;
	text-transform: uppercase;

}

.item h3 {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 21px;
	color: #000;
	line-height: 21px;
	text-transform: uppercase;
}

.interested {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 30px;
	color: #000;
	line-height: 24px;
	text-transform: uppercase;
}

.interested-info {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 24px;
	text-transform: uppercase;
}

.form-info label {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #000;
	line-height: 26px;
	text-transform: uppercase;
}

.header-middle h3 {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	line-height: 21px;
	text-transform: uppercase;
}

.header-middle form, button {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	line-height: 21px;
	text-transform: uppercase;
}


/*Каталог седоны*/

.main-menu span {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #766357;
	line-height: 26px;
	text-transform: uppercase;
}

.main-container h2>a,
.result {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 21px;
	color: #000;
	line-height: 26px;
	text-transform: uppercase;
}

.main-container span {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 21px;
	text-transform: uppercase;
}

.main-container a {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	line-height: 21px;
	text-transform: uppercase;
}

.sorting {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 12px;
	color: #000;
	line-height: 18px;
	text-transform: uppercase;
}

.header-bottom a {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 12px;
	color: #000;
	line-height: 18px;
	text-transform: uppercase;
}

footer b {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: bold;
	font-size: 21px;
	color: #000;
	line-height: 26px;
	text-transform: uppercase;
}


.website {
	font-family: "PT Sans", "Arial", sans-serif;	 
	font-weight: normal;
	font-size: 14px;
	color: #000;
	line-height: 26px;
	text-transform: uppercase;
}

/* Cетка главной седоны */


html,
body {
	padding: 0;
	margin: 0;
	background-color: #F2F2F2;	
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.central-block{
  width: 1200px;
  margin: 0 auto;
 
}


.main-header {
	min-height: 56px;
	background-color: #fff;
}

/* Инфо-блок-2 */
.info-block-2 {
	min-height: 220px;
	background-color: #fff;

}


/* Инфо-блок-3 */
.info-block-3 {
	min-height: 256px;
}

.real-town {
	min-height: 256px;
	width: 400px;
	float: left;
	background-color: #81B3D2;
}

.bg-img-1 {
	min-height: 256px;
	width: 800px;
	float: right;
}

/* Инфо-блок-4 */

.info-block-4 {
	min-height: 330px;
	background-color: #fff;
	
}

.info-block-4 .item {
	min-height: 330px;
	width: 400px;
	float: left;
}

/* Инфо-блок-5 */
.info-block-3 {
	min-height: 256px;
}

.devils-bridge {
	min-height: 256px;
	width: 400px;
	float: right;
	background-color: #81B3D2;
}

.bg-img-2 {
	min-height: 256px;
	width: 800px;
	float: left;
}


/* Инфо-блок-6 */
.info-block-6 {
	min-height: 256px;
}

.info-block-6 .item {
	min-height: 256px;
	width: 400px;
	float: left;
	background-color: #fff;
}

/* Инфо-блок-7 */
.info-block-7 {
	min-height: 290px;
	background-color: #fff;
}

